*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.card-section{
    background-color: rgb(228, 233, 237);
    padding: 2% 0%;
}

.card-container{
    /* width: 80%; */
    margin: auto;
}

.card-row{
    display: flex;
    flex-wrap: wrap;
}

.card-col{
    /* width: 25%; */
    padding: 2%;
}
.card-card{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px silver;
}

.card-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: all 2s linear 1s;
    border-radius: 10px;
}

.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-image img:hover{
    transform: scale(1.2);
}

.card-card h3{
    padding: 2% 0%;
    color: rgb(6, 110, 114);
}

.card-card p{
    padding: 2% 0%;
    color: rgb(6, 110, 114);
}
.card-btn{
    padding: 6% 0%;
}
.card-btn a{
    background-color: rgb(202, 6, 6);
    text-decoration: none;
    color: white;
    padding: 2% 4%;
    border-radius: 20px;
}

/* responsive */

@media(min-width:320px){
    .card-container{
        width: 90%;
    }
.card-col{
    width: 100%;
}
}

@media(min-width:660px){
    .card-container{
        width: 90%;
    }
    .card-col{
        width: 50%;
    }
}

@media(min-width:1000px){
    .card-container{
        width: 80%;
    }
    .card-col{
        width: 25%;
    }  
}